<footer id="site-footer">
  <div>
    {%- if config.extra.footer.copyright %}
      <p class="copyright">{{ config.extra.footer.copyright | markdown(inline=true) | safe }}</p>
    {%- endif %}

    {%- if config.extra.footer.show_powered_by %}
      <p>Powered by <a href="https://www.getzola.org">Zola</a> and <a href="https://ametrine.daudix.one">Ametrine</a></p>
      <p><a href="/atom.xml">ATOM</a> · <a href="/rss.xml">RSS</a></p>
    {%- endif %}

    {%- if config.extra.footer.show_timestamp %}
      <p class="timestamp">{{ now() | date(format="%d %B %Y, %H:%M (%Z)") }}</p>
    {%- endif %}
  </div>

  <div>
    <ul class="socials">
      {%- for link in config.extra.footer.socials %}
        <li>
          <a href="{{ link.url }}" rel="me" title="{{ link.title | default(value=link.icon) }}">
            {%- set icon = load_data(path="icons/simple/" ~ link.icon ~ ".svg", required=false) -%}
            {% if not icon %}
              {%- set icon = load_data(path="themes/ametrine/icons/simple/" ~ link.icon ~ ".svg") -%}
            {% endif %}
            {{- icon | safe -}}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</footer>
