<style>
  :root {
    --icon-arrow-square-out: {{ macros::icon(name="arrow-square-out", inline=true) }};
    --icon-caret-down: {{ macros::icon(name="caret-down", inline=true) }};
    --icon-check-square-offset: {{ macros::icon(name="check-square-offset", inline=true) }};
    --icon-check: {{ macros::icon(name="check", inline=true) }};
    --icon-copy: {{ macros::icon(name="copy", inline=true) }};
    --icon-info: {{ macros::icon(name="info", inline=true) }};
    --icon-lightbulb: {{ macros::icon(name="lightbulb", inline=true) }};
    --icon-pencil: {{ macros::icon(name="pencil", inline=true) }};
    --icon-repeat: {{ macros::icon(name="repeat", inline=true) }};
    --icon-seal-check: {{ macros::icon(name="seal-check", inline=true) }};
    --icon-speaker-high: {{ macros::icon(name="speaker-high", inline=true) }};
    --icon-speaker-low: {{ macros::icon(name="speaker-low", inline=true) }};
    --icon-speaker-none: {{ macros::icon(name="speaker-none", inline=true) }};
    --icon-star: {{ macros::icon(name="star", inline=true) }};
    --icon-trash: {{ macros::icon(name="trash", inline=true) }};
    --icon-warning-diamond: {{ macros::icon(name="warning-diamond", inline=true) }};
    --icon-warning-octagon: {{ macros::icon(name="warning-octagon", inline=true) }};
    --icon-warning: {{ macros::icon(name="warning", inline=true) }};
  }
</style>
