@use "../abstracts/mixins" as *;

.article-details .tags {
  gap: 0.25rem;
  margin-block-end: 0 !important;

  a {
    @include chip;
    display: flex;
    color: var(--fg-muted-1);
    font-weight: var(--font-weight-semi-bold);
    line-height: 1.5rem;

    &:hover {
      background-color: var(--bg-muted-2);
      color: var(--fg-muted-2);
    }

    &:active {
      transform: var(--active);
    }

    &::before {
      content: none;
    }
  }
}
